.expandingButton-div {
    background-color: white;
    width: 100%;
    height: max(40px, 4vmin);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
}

.expand-icon {
    height: 80%;
    border: 1px solid black;
}

.expand-icon:hover {
    border: 2px solid black;
}

.expanding-div {
    width: 100%;
    background-color: black;
    border: 2px solid green;
}

.parentDiv {
    display: flex;
    flex-direction: column;
}