.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'HussarBoldWeb-bf92';
  src: local('HussarBoldWeb-bf92'), url('./fonts/HussarBoldWeb-bf92.woff') format('woff'); /* Adjust path and format */
}

@font-face {
  font-family: 'AnkhSanctuary-PVK0B';
  src: local('AnkhSanctuary-PVK0B'), url('./fonts/AnkhSanctuary-PVK0B.ttf') format('truetype');
}

.App-header {
  background-color: #262626;
  color: white;
  width: 100%;
  top: 0;
  height: 2.5vh;
  min-height: 30px;
  position: sticky;
  z-index: 1000;
}

.App-background-window {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2vh;
  z-index: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navigation-button-area {
  text-align: right;
  align-items: center;
  justify-content: right;
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.Navigation-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: max(10px, 1.25vmin);
  min-width: 50px;
  min-height: 8px;
  font-family: 'HussarBoldWeb-bf92';
  padding-top: 5px;
}

.Navigation-button:hover {
  color: grey;
}

.Navigable-window {
  padding: 1.5vh;
  border: 2px solid;
  border-color: #7700c640;
}

#AboutMe {
  font-size: max(1.5vh, 15px);
}

#Projects {
  display: flex;
  flex-direction: column;
}

#Contact {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}

.Navigation-section {
  background-color: #000000d9;
  height: 100%;
  width: 100%;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.Vertical-line {
  border-left: 2px solid grey;
  height: 90%;
}

.Title-area {
  display: flex;
  text-align: left;
  align-items: center;
  width: 50%;
  font-size: max(18px, 2cqh);
  font-family: 'AnkhSanctuary-PVK0B';
}

.Title-bar {
  display: flex;
  flex-direction: row;
  height: 80%;
  padding-left: 3px;
  padding-right: 3px;
}

.Introduction-section {
  color: white;
  background: radial-gradient(ellipse, #1b002a 0%, #00000000 50%);
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.Intro-text {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  font-size: max(2vw, 25px);
  font-family: 'HussarBoldWeb-bf92';
}

.Planet-model {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.Horizontal-div {
  display: flex;
  flex-direction: row;
}

.Icon {
  background-image: url('../public/favicon.ico');
  background-size: contain;
  height: 80%;
  width: auto;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  display: block;
}

.ProjectLinksSection {
  background-color: transparent;
}

.ProjectLink {
  color: #00ff00;
}

.ProjectDescSection {
  margin: .5vw;
}